.myphoto {

    display: block;
    max-width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.circle {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    float: left;
    margin: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;

}

.nav {
    margin: 10px 0 10px 0;
}

header {
    text-align: center;
}

.cv,
.projects,
.contact {
    width: 120px;
    height: 120px;
    line-height: 110px;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
    margin: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    color: #9BA8AB;
    font-weight: bold;
    text-decoration: none;
    margin:0 10px 0 10px;


}
.cv:hover {
    text-decoration: none;
    color: #9BA8AB;
}

.projects:hover {
    text-decoration: none;
    color: #9BA8AB;
}
.contact:hover {
    text-decoration: none;
    color: #9BA8AB;

}

.cv {
    background-color: #DC143C;
}
.projects{
    background-color: #00FFFF;
}
.contact{
    background-color: #98FB98;
}
